body {
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
}

@media(min-width: 700px) {
    body {
        width: 100%;
    }
}