.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 10px auto;
    width: 30%;
    border-radius: 1%;
    background-color: white;
}

.label {
    width: 20%
}

input {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    color: inherit;
    font-weight: inherit;
    border: 1px solid #ccc;
    border-radius: 3%;
    box-shadow: 0 2px 3px #ccc;
}